body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
nav{
    background-color: #333;
    color: #fff;
    border: 1px solid rgb(random(0,255), random(0,255), random(0,255));
    padding: 10px;
}